/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.hero {
    background-color: #1b0707;
    color: #fff;  /* Couleur de texte blanche */
    text-align: center;
    padding: 100px 20px;
    border-radius: 14px;
}

.hero h1, .hero p {
    color: #fff; /* Assurez-vous que les titres et les paragraphes sont également blancs */
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur de texte blanche pour le bouton */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #0056b3; /* Couleur de fond du bouton au survol */
}

/* Section Features */
.features {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
    color: #333; /* Couleur du texte pour le fond clair */
}

.features h2 {
    margin-bottom: 40px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    max-width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; /* Couleur du texte pour le fond blanc */
}

/* Section Testimonials */
.testimonials {
    padding: 50px 0;
    text-align: center;
    background: #fff;
    color: #333; /* Couleur du texte pour le fond blanc */
}

.testimonials h2 {
    margin-bottom: 40px;
}

.testimonial-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f4f4f4;
    max-width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; /* Couleur du texte pour le fond clair */
}

.testimonial-item p {
    font-style: italic;
}

.testimonial-item strong {
    display: block;
    margin-top: 10px;
}

/* Section CTA */
.cta {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

.cta .btn {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.cta .btn:hover {
    background: #0056b3;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin-left: 20px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

footer p {
    margin: 10px 0;
}
